<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>The libdap library package contains the DAP implementation from OPeNDAP. This software is installed under /usr in the lib, include and bin directories there. This package is not relocatable - even when it is included in other packages that are relocatable.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>OPeNDAP libdap Package</string>
</dict>
</plist>
