## This gitignore file is the same as the master version _except_
## that it does not ignore the 'html' directory that holds the
## documentation files. jhrg 5/2/17

## directories
.deps
.libs
.idea
.dirstamp
.cproject
.project
.settings
.DS_Store
*/.DS_Store

autom4te.cache
Default
docs
tmp

# CLion CMake directory; might make this visible later on... jhrg 2/8/17
cmake-build-*

## file ptterns
*~
*.o
*.lo
*.output
*.tab.cc
*.tab.hh
lex.*.cc
*.la
# Assuming there's a ...pc.in it's built from
*.pc
*.log
*.trs
*.docs
*.gcov
*.gcno
*.gcda
# OSX Instruments run-time profiling 
*.trace

GNU/
Makefile
Makefile.in
abi_checker.xml
aclocal.m4
autom4te.cache/
conf/
config.h
config.h.in
config.status
configure
d4_ce/
d4_function/
dap-config
dods-datatypes-config.h
doxy.conf
doxygen_warnings.txt
gl/
html/
libdap.pc
libdapclient.pc
libdapserver.pc
libtool
main_page.doxygen
stamp-h1
stamp-h2
stamp-h3
tests/
unit-tests/
xdr-datatypes-config.h
