## directories
.autotools
.deps
.libs
.idea
.dirstamp
.cproject
.project
.settings
.DS_Store
*/.DS_Store

autom4te.cache
Default
docs
html
tmp

# CLion CMake directory; might make this visible later on... jhrg 2/8/17
cmake-build-*

## file ptterns
*~
*.o
*.lo
*.output
*.tab.cc
*.tab.hh
lex.*.cc
*.la
# Assuming there's a ...pc.in it's built from
*.pc
*.log
*.trs
*.docs
*.gcov
*.gcno
*.gcda

# OSX Instruments run-time profiling 
*.trace

# literal files
Makefile
Makefile.in
conf/compile
conf/config.guess
conf/config.sub
conf/depcomp
conf/install-sh
conf/libtool.m4
conf/ltmain.sh
conf/ltoptions.m4
conf/ltsugar.m4
conf/ltversion.m4
conf/lt~obsolete.m4
conf/missing
conf/test-driver
config.h
config.h.in
config.status
configure
stamp-h?
aclocal.m4
libtool
CMakeLists.txt
doxy.conf
doxygen_warnings.txt
main_page.doxygen

CMakeLists.txt

## libdap specific files
gl/*.h

dap-config
dap-config.1
dods-datatypes-config.h
dods-datatypes.h
getdap
getdap.1
getdap4
getdap4.1
xdr-datatypes-config.h
xdr-datatypes.h

abi_checker.xml

gl/charset.alias
gl/ref-add.sed
gl/ref-del.sed
gl/sys/

d4_ce/location.hh
d4_ce/position.hh
d4_ce/stack.hh
d4_function/location.hh
d4_function/position.hh
d4_function/stack.hh

libdap-*.tar.gz
libdap-*

html
latex

tests/DASTest
tests/DDSTest
tests/EXPRTest
tests/atconfig
tests/atlocal
tests/das-test
tests/dds-test
tests/expr-test
tests/libtest-types.a
tests/package.m4
tests/DMRTest
tests/dmr-test
tests/getdapTest
tests/*Test.dir

unit-tests/*.file
unit-tests/*.strm
unit-tests/.dodsrc
unit-tests/ArrayTest
unit-tests/AttrTableTest
unit-tests/ByteTest
unit-tests/DASTest
unit-tests/DDSTest
unit-tests/DDXParserTest
unit-tests/HTTPCacheTest
unit-tests/HTTPConnectTest
unit-tests/MIMEUtilTest
unit-tests/MarshallerTest
unit-tests/RCReaderTest
unit-tests/RegexTest
unit-tests/SequenceTest
unit-tests/ServerFunctionsListUnitTest
unit-tests/SignalHandlerTest
unit-tests/ancT
unit-tests/arrayT
unit-tests/attrTableT
unit-tests/cache-testsuite/cleanup.sh
unit-tests/cache-testsuite/dods_cache/
unit-tests/cache-testsuite/gc_cache/
unit-tests/cache-testsuite/header_cache/
unit-tests/cache-testsuite/http_connect_cache/
unit-tests/cache-testsuite/purge_cache/
unit-tests/cache-testsuite/singleton_cache/
unit-tests/dasT
unit-tests/ddsT
unit-tests/generalUtilTest
unit-tests/marshT
unit-tests/parserUtilTest
unit-tests/sequenceT
unit-tests/structT
unit-tests/test_config.h
unit-tests/D4AsyncDocTest
unit-tests/D4AttributesTest
unit-tests/D4DimensionsTest
unit-tests/D4EnumDefsTest
unit-tests/D4EnumTest
unit-tests/D4GroupTest
unit-tests/D4MarshallerTest
unit-tests/D4ParserSax2Test
unit-tests/D4UnMarshallerTest
unit-tests/DMRTest
unit-tests/DmrRoundTripTest
unit-tests/DmrToDap2Test
unit-tests/chunked_iostream_test
unit-tests/D4FilterClauseTest
unit-tests/D4SequenceTest

unit-tests/chunked-io/
