# .prettierignore

# Ignore test baselines
unit-tests/*-testsuite/**
unit-tests/*-tests/**
unit-tests/chunked-io
unit-tests/D4-marshaller
unit-tests/D4-xml
unit-tests/diff-match-patch

tests/*-testsuite/**
tests/dmrset/**

# Ignore other non-source text
build/**
