#
# The libdap build
#
# Initial Travis-CI control file. 6.5.15 jhrg
# Updated many times... finally using docker (containers). 7.14.15 jhrg
#
# Modified to push the result of a successful build up to an AWS S3
# bucket. jhrg 2.24.18

dist: trusty

language: cpp

compiler: gcc

branches:
  only:
  - master
  - travis
  - ci_test

addons:
  apt:
    packages:
    - libxml2-dev
    - uuid-dev
    - libcurl4-openssl-dev
    - libcppunit-dev 
    - build-essential
    - lintian
    - fakeroot
    
env:
  global:
  # NB: This value of $prefix must be shared between the hyrax-deps, libdap and bes builds.
  - prefix=$HOME/install
  - PATH=$prefix/bin:$PATH
  - TESTSUITEFLAGS=-j7  
  # COVERITY_SCAN_TOKEN, created via the "travis encrypt" command using the project repo's public key
  - secure: "OYEzGP6BuDHctPj90EP0y0wjfSyaJs6tN89niLhq82jJfJVGvU2UmXGWACNFakM7xpobVfdwCIYomxgIz43CpNKt4TbuGW8PVIz2EI9Ir/Ne4A3W8pVHBkP8YvzRkiu0pWNeShcsJ4ZmzWEGy9YlPF36/HWai3ZCMEtJsTY8cCo="
  # SONAR_LOGIN, created using travis encrypt --org -r OPENDAP/libdap4 SONAR_LOGIN=<sonar login key>
  - secure: "LTrO/VZTxJ+Qo1FO106zCPILBMb09zezLeGcixd4BcXDICiVtVAtgw7LzCkBWn5Vxvhzd+Hs+uDHfqT8cKI8lewjJd79uHQ1I2CSqZdBs6ERQzndKpoRNm+t63qWQc7A+wDyj2m4odtO9zrhxDR3Poo38G7UtJmQLFrBf5QmLAw=" 
  # AWS_ACCESS_KEY_ID for the user 'travis'
  - secure: "PaUvp6Aom+hD2cM4gH5xVm81iPH+meKkxoYiqCoAEI7YFgwtQlltOB9/0+98zCzzd+ovYo5kFrU/pywe8eqfP1Ek3UnAuaoJOFXxx9DJ6rWCGzzIeM4h/xkCU9EWN0ZpGFETtDbEpYRnZ+9k03iNl5XaaZ6brZBTxbEoMT9ITzs="
  # old "Azd20M0X367Glf6YnQXRLXJXGrKkJwKK6X7hKRvNZ1oSPkTLmW1JlUKpsjmstz+oJxZHATMP64fymTkxRmyHU7bNktBkiI3i6k1cFXRPGEhrf2Uftnve/Zy2TEJ6ucnEpYmw5+LyZgAZVNLzFnUrE2FUbzG8I1yO2KYr00nvof4="
  # AWS_SECRET_ACCESS_KEY
  # old "lL7WaRHysuAKGLhMBbMyCk8yvRn4mmZeF+W7t4duh7/1DrGiPZ9kQwkfM54r5hLXPeKqqMyDjJs5kATlBgzg68dnwSaLFsbe3TqI9Zj258PgUf1+EYaK+vP9O9brHUUrmtqj6uFGtrP1Dqj2S8AUuTvrYtvSr7vGGitv4++n3AY="
  - secure: "cPx/S5VnYiz4WU7NQnlCImgWnJdHHusH2B9YvLh/EOKXoGMQyzMDMKJj9qakOIlQeBoe0fPEtpGFOgURiu01q7XqxtIbxN7rv+zTrG9KcizpsBUcmQ0usAGxYxqQlUEB+l4bn4z48sOlRkC/rh2q2Y2RyGNn0rCfzBMl6WunbOI="

before_install:
  - pip install --user awscli

install:
  - aws s3 cp s3://opendap.travis.build/hyrax-dependencies-build.tar.gz $TRAVIS_BUILD_DIR
  - tar -C $HOME -xzvf $TRAVIS_BUILD_DIR/hyrax-dependencies-build.tar.gz

before_script:
  - autoreconf --force --install --verbose

stages:
  - name: build
    if:  branch = master OR branch = travis
  - name: scan
    if:  branch = master
  - name: package
    if:  branch = master OR branch = travis
  - name: ci_test
    if: branch = ci_test

jobs:
  include:
  - stage: ci_test
    script: cp README $TRAVIS_BUILD_DIR/package/README.libdap4
    
  - stage: build
    script:
    - export LIBDAP_BUILD=main
    - ./configure --disable-dependency-tracking --prefix=$prefix
    - make -j7 && make check -j7 && make install

  - stage: build
    script: 
    - export LIBDAP_BUILD=asan
    - ./configure --disable-dependency-tracking --prefix=$prefix --enable-developer --enable-asan
    - make -j7 && make check -j7

  - stage: build
    script: 
    - export LIBDAP_BUILD=distcheck
    - ./configure --disable-dependency-tracking --prefix=$prefix --enable-developer
    - make distcheck -j7

  - stage: scan
    addons:
      sonarcloud:
    script:
    - export LIBDAP_BUILD=sonar
    - ./configure --disable-dependency-tracking --prefix=$prefix --enable-developer
    - build-wrapper-linux-x86-64 --out-dir bw-output make -j7
    - sonar-scanner -Dsonar.login=$SONAR_LOGIN
        
  - stage: package
    script: 
    - export LIBDAP_BUILD=deb
    - mkdir -p $prefix/debbuild
    # $TRAVIS_DUILD_DIR:/root/travis used to make the build-deb.sh script available
    - docker run --volume $prefix/debbuild:/root --volume $TRAVIS_BUILD_DIR:/root/travis
                 --env AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID --env AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
                 --env os=ubuntu14 opendap/ubuntu14_hyrax_build:1.5 /root/travis/build-deb.sh

  - stage: package
    script: 
    - export LIBDAP_BUILD=centos7
    - mkdir -p $prefix/rpmbuild
    - docker run --volume $prefix/rpmbuild:/root/rpmbuild --volume $TRAVIS_BUILD_DIR:/root/travis
                 --env AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID --env AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
                 --env os=centos7 opendap/centos7_hyrax_builder:1.2 /root/travis/build-rpm.sh

  - stage: package
    script: 
    - export LIBDAP_BUILD=centos6
    - mkdir -p $prefix/rpmbuild
    - docker run --volume $prefix/rpmbuild:/root/rpmbuild --volume $TRAVIS_BUILD_DIR:/root/travis
                 --env AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID --env AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
                 --env os=centos6 opendap/centos6_hyrax_builder:1.3 /root/travis/build-rpm.sh

  - stage: package
    script:
      - export LIBDAP_BUILD=srcdist
      - mkdir -p $TRAVIS_BUILD_DIR/package
      - ./configure --disable-dependency-tracking --prefix=$prefix --enable-developer
      - make dist -j7
      - cp libdap-*.tar.gz $TRAVIS_BUILD_DIR/package
      - cp libdap-*.tar.gz $TRAVIS_BUILD_DIR/package/libdap-snapshot.tar.gz;

before_deploy:
  - mkdir -p $TRAVIS_BUILD_DIR/package
  # This part of the before_deploy action copies the built distributions named with version numbers
  # into $TRAVIS_BUILD_DIR/package and then places a second copy of those files with the version
  # number replaced with the word 'snapshot.' These files are used for the our snapshot delivery
  # and deployment process. jhrg 10/28/19
  - if test "$LIBDAP_BUILD" = "main"; then tar -C $HOME -czvf $TRAVIS_BUILD_DIR/package/libdap-build.tar.gz
                                               --exclude 'install/deps*' --exclude 'install/rpmbuild*' install; fi
  # Debian distribution prep
  - if test "$LIBDAP_BUILD" = "deb"; then ./travis/deb-to-package-dir.sh; fi
  # CentOS-7  distribution prep
  - if test "$BES_BUILD" = "centos6"; then ./travis/rpm-to-package-dir.sh "el6"; fi
  # CentOS-6 distribution prep
  - if test "$BES_BUILD" = "centos7"; then ./travis/rpm-to-package-dir.sh "el7"; fi
  # Check for the stuff...
  - ls -lR $TRAVIS_BUILD_DIR/package

deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: opendap.travis.build
  skip_cleanup: true
  local_dir: $TRAVIS_BUILD_DIR/package
  on:
    branch: master
    condition: $LIBDAP_BUILD =~ ^main|srddist|deb|centos7|centos6$
