# Configuration file for gcovr. jhrg 5/8/25
#
# See https://gcovr.com/en/stable/index.html for help/options

gcov-parallel = yes
print-summary = yes

exclude-unreachable-branches = yes
exclude-throw-branches = yes
gcov-ignore-errors = no_working_dir_found

sort = uncovered-percent
# sort = file

# Unknown option merge-mode-conditions = fold jhrg 5/8/25

# exclude coverage for the test code
exclude-directories = (.+/)?unit-tests
exclude-directories = (.+/)?tests
exclude-directories = (.+/)?gl
exclude-directories = (.+/)?conf
exclude-directories = (.+/)?retired
