/absolute-header.m4
/gnulib-comp.m4
/builtin-expect.m4
/fcntl_h.m4
/gettimeofday.m4
/hard-locale.m4
/largefile.m4
/limits-h.m4
/localtime-buffer.m4
/lstat.m4
/malloca.m4
/mkstemps.m4
/pathmax.m4
/pthread_rwlock_rdlock.m4
/stat.m4
/sys_socket_h.m4
/sys_stat_h.m4
/sys_time_h.m4
/tempname.m4
/time_h.m4
