/_Noreturn.h
/dosname.h
/fcntl.in.h
/filename.h
/gettimeofday.c
/hard-locale.c
/hard-locale.h
/intprops.h
/limits.in.h
/localtime-buffer.c
/localtime-buffer.h
/lstat.c
/malloca.c
/malloca.h
/malloca.valgrind
/mkstemps.c
/pathmax.h
/stat-w32.c
/stat-w32.h
/stat.c
/sys_stat.in.h
/sys_time.in.h
/tempname.c
/tempname.h
/time.in.h
/xalloc-oversized.h
